@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;
}
div{
    border: 1px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    margin:2px ;
    padding: 2px;
    display: inline-block;
}
img{
    height: 70%;

}
#heading{
    color: darkgreen;
}
.green-box{
    background-color: lightgreen;
}
section h2{
    color: red;
}